root::before,
root::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

.container {
   width: 100%;
}

.image {
   width: 30%;
}

.header h1,
.header p {
   text-align: center;
}

.dark-mode {
   margin: 0 auto;
}
